<div class="stats-container">
  <div class="filter-container">
    <mat-form-field>
      <input matInput placeholder="Search by Player" (keyup)="filterPlayers($event)">
    </mat-form-field>
  </div>
  <div class="table-container">
    <table mat-table matTableExporter matSort [dataSource]="dataSource" class="mat-elevation-z8 stats-table" #exporter="matTableExporter">
      <ng-container matColumnDef="player" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
        <td mat-cell *matCellDef="let element"> {{element.player}} </td>
      </ng-container>
      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pos</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="attempts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Att</th>
        <td mat-cell *matCellDef="let element"> {{element.attempts}} </td>
      </ng-container>
      <ng-container matColumnDef="attemptsPerGame">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Att/G</th>
        <td mat-cell *matCellDef="let element"> {{element.attemptsPerGame}} </td>
      </ng-container>
      <ng-container matColumnDef="yards">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Yds</th>
        <td mat-cell *matCellDef="let element"> {{element.yards}} </td>
      </ng-container>
      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg</th>
        <td mat-cell *matCellDef="let element"> {{element.average}} </td>
      </ng-container>
      <ng-container matColumnDef="yardsPerGame">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Yds/G</th>
        <td mat-cell *matCellDef="let element"> {{element.yardsPerGame}} </td>
      </ng-container>
      <ng-container matColumnDef="touchdowns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TD</th>
        <td mat-cell *matCellDef="let element"> {{element.touchdowns}} </td>
      </ng-container>
      <ng-container matColumnDef="longestGain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lng</th>
        <td mat-cell *matCellDef="let element"> {{element.longestGain}} </td>
      </ng-container>
      <ng-container matColumnDef="firstDowns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>1st</th>
        <td mat-cell *matCellDef="let element"> {{element.firstDowns}} </td>
      </ng-container>
      <ng-container matColumnDef="firstDownPercentage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>1st%</th>
        <td mat-cell *matCellDef="let element"> {{element.firstDownPercentage}} </td>
      </ng-container>
      <ng-container matColumnDef="twentyYardRushes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>20+</th>
        <td mat-cell *matCellDef="let element"> {{element.twentyYardRushes}} </td>
      </ng-container>
      <ng-container matColumnDef="fourtyYardRushes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>40+</th>
        <td mat-cell *matCellDef="let element"> {{element.fourtyYardRushes}} </td>
      </ng-container>
      <ng-container matColumnDef="fumbles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FUM</th>
        <td mat-cell *matCellDef="let element"> {{element.fumbles}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="paginator-export-container">
    <button mat-raised-button color="primary" class="export-button" (click)="exporter.exportTable('csv')">Export to CSV</button>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" showFirstLastButtons></mat-paginator>
  </div>
</div>